.container-elements{
    background-color: #ba95e6;
    height: fit-content;
}

.elements {
    font-family: var(--title-esp);
    padding: 10px;
}

.cartContent {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
  }
  
 .cartContent > img {
   height: 160px;
   width: 120px;
   text-align: center;
   justify-content: center;
   margin-bottom: 80px;
}

.cartContent > p {
    font-family: var(--title);
    font-size: 1.5rem;
    margin-bottom: 80px;
}

.cart-delete-button {
    cursor: pointer;
}

.total {
    font-family: var(--title-esp);
    margin-top: 30px;
}

.detalles {
    display: flex;
    flex-direction: column;
}