h2 {
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Charm';
    font-weight: bold;
    text-align: center;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}
