.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}
  
.producto {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.muestrario {
    display: flex;
}

h2 {
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Charm';
    font-weight: bold;
    text-align: center;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}

.products {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-family: 'Charm';
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;

}

.btn {
    background-color: #6b29bd;
    margin-top: 0;
    margin-bottom: 25px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0;
}

card-body {
    border: 1px solid violet;
}