 .navbar {
  background-color: var(--purple);
  border-bottom: 1px solid var(--gray);
  align-items: center;
  justify-content: space-around;
}

.navbar-brand {
  margin-left: 10px;
  font-family: var(--marca);
  font-size: 2rem;
  font-weight: bold;
  margin-right: 300px;
}

ul {
  list-style: none;
  padding: .5rem 1rem;
}

li {
  margin-bottom: .5rem;
  font-family: var(--marca);
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}
