.navbar {
    background-color: var(--purple);
    align-items: center;
    display: flex;
    border-bottom: 3px solid black;
    flex-direction: row;
  }
  
  .brand {
    text-decoration:  none;
    margin-left: 10px;
    font-family: var(--marca);
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 360px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 300px;
  }
  
  .menu-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-family: var(--marca);
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
    
  @media screen and (max-width: 768px) {
    .navbar {
      justify-content: center;
      align-items: center;
      
    }
    .brand {
      font-size: 1.3rem;
      margin-left: 0px;
      padding: 0;
    }
    .logo {
      width: 30px;
      height: 30px;
      margin: 0;
      padding: 0;
    }
    .menu-link {
      font-size: 1rem;
    }
  }
/* 768/420 */
  

