.contenedorCarrito {
  display: flex;
  width: 18%;
  flex-direction: row;
  margin-right: 20px;
}

.btn {
  color: black;
  margin: 2px;
  font-size: 1.2rem;
  font-family: var(--marca);
}

.bi {
  margin: 3px;
}

.numerito {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50px;
}