.contenedorCarrito {
    display: flex;
    width: 18%;
    flex-direction: row;
    margin-right: 20px;
  }
  
  .btn {
    width: 70px;
    color: black;
    margin: 30px;
    font-size: 1.2rem;
    font-family: var(--marca);
  }
  
  .bi {
  }
  
  #bolsita {
    width: 80px;
    margin: 10px;
    margin: 10px;
  }

  .numerito {
    width: 60px;
    height: 30px;
    background-color: red;
    border-radius: 50px;
  }