.counter {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-family: 'Charm';
    font-size: 2rem;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: var(--purple);
    margin-top: 0;
    margin-bottom: 25px;
}
