#especial {
  height: 70vh;
}

.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin-bottom: 20px;
  }
  
  .main-title {
    font-family: var(--title-esp);
    font-size: 3rem;
    margin: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
  }
  
  .formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid black;
  }
  
  .formulario input:focus {
    outline: 0;
    border: 2px solid var(--clr-main);
    outline: 2px solid var(--clr-main);
  }
  

  #botoncito {
    width: 18rem;
  }